.navbar {
    border-radius: 0px;
}

.footer-bg {
    background-color: black;
    position:absolute;
    bottom:0;
    width:100%;
}

.footer-bg p {
    color: grey;
}

.post-block {
    background-color: grey;
    /*height: 100px;*/
   margin-bottom: 40px;
}